@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=DM+Sans:wght@400;700&family=Montserrat:wght@800&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: hsl(231, 13%, 11%);
  background-color: hsl(48, 85%, 65%);
}

/*========= header ===========*/


header {
  display: flex;
  width: 100%;
  height: 92px;
  background-color: #000000 ;
  border-radius: 0px 0px 1.25rem 1.25rem;
  justify-content: space-between;
}

header #logo {
  display: flex;
}

header svg {
  margin-top: 0.75rem;
  margin-left: 2rem;
}

header h1 {
  font-family: 'Caveat';
  font-style: normal;
  padding-left: 2.18rem;
  align-self: center;
  font-weight: 700;
  font-size: 3.12rem;
  justify-content: center;
}

header h1 span.cor1 {
  letter-spacing: -1rem;
  color: #A259FF;
}

header h1 span.cor2 {
  letter-spacing: -1rem;
  color: #0ACF83;
}

header h1 span.cor3 {
  letter-spacing: -1rem;
  color: #F24E1E;
}

header h1 span.cor4 {
  letter-spacing: -1rem;
  color: #1ABCFE;
}

header h1 span.cor5 {
  letter-spacing: -.85rem;
  color: #FF7262;
}

header h1 span.cor6 {
  letter-spacing: -.50rem;
  color: hsl(245, 110%, 70%);
}

header h1 span {
  color: #FFFFFF;
}

header nav#menu {
  display: flex;
  align-items: center;
  width: auto;
  height: 5.75rem;
  padding: 01.87rem;
}

header nav#menu ul {
  list-style: none;
  display: flex;
  gap: 3.25rem
}

header nav#menu ul li a {
  font-weight: 500;
  font-size: 1.56rem;
  line-height: 1.87rem;
  color: #FFFFFF;
  text-decoration: none;
}

header nav#menu ul li:hover {
  transition: all 200ms ease-out;
  transform: scale(1.1);
}

/*========= about ===========*/
section#about {
  display: flex;
  align-items: center;
  max-width: 82.68rem;
  width: 100%;
  margin: 4.68rem auto 0;
  justify-content: space-between;
}

section#about h2 {
  font-weight: 800;
  font-size: 2.25rem;
}

section#about h3 {
  font-size: 1.56rem;
  color: #474A57;
  margin-top: 0.75remx;
  margin-bottom: 3.43rem;
}

section#about #work-media {
  display: flex;
  gap: 1.18rem;
}

section#about #work-media a {
  font-weight: 700;
  font-size: 1.56rem;
  text-decoration: none;
  padding: 0.62rem 2.12rem;
  color: white;
  background: #000000;
  gap: 0.62rem;
  box-shadow: 0.25rem 0.25rem 0 #EB7711;
  border-radius: 0.62rem;
}

section#about #work-media a:hover {
  transition: all 200ms ease-out;
  transform: scale(1.1);
}

section#about .img-sm {
  display: flex;
  align-items: center;
}

section#about img {
  display: flex;
  padding: 0 3.87rem ;
  align-items: center;
}

section#about #social-media svg {
  display: block;
  margin-bottom: 0.62rem;
}

section#about #social-media svg:hover  {
  transition: all 0.7s;
  transform: scale(1.5);
}

/*========= Responsivo ===========*/
@media (max-width:1340px) {

  section#about {
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
}

@media (max-width:1100px) {
  section#about .img-sm {
    display: flex;
    flex-direction: column;
  }

  section#about #social-media {
    flex-wrap: nowrap;
  }


  
}





